# Dependencias y carpetas de compilación
node_modules/
dist/
build/
coverage/
temp/
docs/build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Editores e IDEs (Opcional)
.vscode/
.idea/
*.swp
.history/

# Variables de entorno
.env
.env.local
.env.*.local

# Archivos temporales de pruebas o binarios grandes (como tu problema anterior)
*.exe
*.dll
*.so
*.app
*.bin
electron/
electron-v*.*.*-win32-x64/